@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  outline: none;
}

:root {
  /* height */
  --h-nav: 80px;
  --h-button: 40px;

  /* padding */
  --px: 150px;
}