@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  outline: none;
}

:root {
  /* height */
  --h-nav: 80px;
  --h-btn: 30px;
  --h-lg-btn: 40px;

  /* padding */
  --px: 10px;
  --sm-px: 50px;
  --md-px: 100px;
  --lg-px: 150px;
}