@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  outline: none;
}

:root {
  /* height */
  --h-nav: 80px;
  --h-btn: 35px;
  --h-lg-btn: 40px;

  /* padding x*/
  --px: 10px;
  --px-sm: 20px;
  --px-md: 50px;
  --px-lg: 80px;
}